* {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  text-align: center;
}
h1 {
  margin: auto;
  width: 592px;
  font-family: "Inter", sans-serif;
  font-size: 49px;
  line-height: 56px;
  font-weight: normal;
}
h1 span {
  font-weight: bold;
}
span, a{
  color: #ff9900;
}
p {
  font-size: 14px;
  line-height: 28px;
  color: #7d7987;
}

.imagem {
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
}
.hero {
  margin: auto;
  padding: 30px;
  width: 592px;
}
.contato {
  display: flex;
  justify-content: center;
  color: #ff9900;
}

.balls {
  position: fixed;
  bottom: 0px;
  right: 0px;
}
footer {
  padding-top: 200px;
}
footer a {
  margin-right: 28px;
}
.line {
  width: 568px;
  height: 0;
  margin: 0 auto 8px;
  border: 1px solid #eceff2;
}
